.key {
    width: 2.5rem;
    height: 3.5rem;
    margin: 0.15rem;
}

.adornedKey {
    height: 3.5rem;
    margin: 0.15rem;
}

.present {
    background-color: #B59F3B;
}

.correct {
    background-color: #538D4E;
}

.used {
    background-color: #b7b7b7;
}
