.key {
    width: 3rem;
    height: 4rem;
    margin: 0.15rem;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.adornedKey {
    height: 4rem;
    width: 4.5rem;
    margin: 0.15rem;
    font-family: inherit;
    font-weight: bold;
    border: 0;
    padding: 0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 1rem;
}

.present {
    background-color: #B59F3B;
    color: white;
}

.correct {
    background-color: #538D4E;
    color: white;
}

.absent {
    background-color:  #787c7e;
    color: white;
}
